.title {
    letter-spacing: 10px;
    word-spacing: 5px;
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
}

.sub-title{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
}

.h-container{
    background: linear-gradient(135deg, rgba(17, 144, 234, 0.395), rgba(17, 100, 234, 0.4)) ,url(./images/globe-2.jpg) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.first-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.after-input{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    margin: 0;
}

.sub-input1, .sub-input2{
    padding: 2px;
    margin: 0;

}

.sub-input1 {
    color: rgb(182, 33, 33);
    font-weight: bold;
}

.sub-input2{
    color: rgb(5, 255, 5);
}

.buttons {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.starting-word, .start-with-any, .something  {
    margin: 2px;
    box-shadow: 5px 10px 15px rgb(80, 74, 74);
    border-style: none;
    padding: 1rem;
    color: white;
    background-color: hsl(261, 58%, 60%);
    border-radius: 5px;
}

.starting-word:hover,
.start-with-any:hover,
.something:hover {
   background-color: rgb(107, 3, 204);
}

.special {
    background-color: rgb(107, 3, 204);
}


.search-bar {
    display: flex;
    align-items: center;
}

.search {
    border-style: none;
    border-radius: 20px;
    padding: 0.8rem;
    width: 500px;
}

.search::placeholder{
    
    text-align: center;
    font-size: 1rem;
    color: rgb(167, 164, 164);
}

.search:focus {
    outline: none;
}
.icon  {
   padding-left: 0.5rem;
}

.country-container {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 100%;
    height: 100px;
    opacity: 0.8;
    background: linear-gradient(135deg, rgba(17, 144, 234, 0.395), rgba(17, 100, 234, 0.4));
    z-index: -1;
}

.country{
    padding: 20px;
    position: relative;
}
.country-text{
    position: absolute;
    top: 20%;
    width: 80%;
    text-align: center;
    font-size: 18px;
}